.form {
  width: 95%;
  margin: 2rem auto;
  text-align: center;
}

.form label,
.form input {
  display: block;
  width: 100%;
  padding: 0.25rem;
  margin: 1rem auto;
  font: inherit;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

.actions button[type="button"] {
  background-color: transparent;
  color: var(--color-gray-300);
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions button[type="button"]:hover {
  background-color: var(--color-gray-800);
}

@media (min-width: 40rem) {
  .form {
    width: 40rem;
  }
}
