.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  margin: 1rem auto;
}

.members h1 {
  margin-bottom: 0;
  padding-bottom: 25px;
  border-bottom: 2px solid white;
}

.person {
  border-bottom: 2px solid white;
}

.content {
  padding: 2rem;
}

.loading {
  text-align: center;
  color: white;
}

@media(min-width: 55rem) {
  .list {
    display: flex;
    flex-direction: row;
  }
}
